
html {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 9em;
    background-color: rgb(170, 170, 170);

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    border-bottom: 2px solid rgb(136, 132, 132);
}

body {
    
    background-color: rgb(234, 234, 243);

    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------------- HEADER --------------- */

.contain-btn-menu {
    width: 2.8%;
    height: 22%;
    margin-left: 5%;
}

.contain-btn-menu button {
    all: unset;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px;
    border-radius: 6px;
}

.contain-btn-menu button:hover {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.contain-logo-claro {
    margin-right: 5%;
}

/* --------------- BODY --------------- */

.contain-table {
    margin-top: 2em;
}

.contain-table table {
    border: 1px solid #ccc;
    border-radius: 12px;           /* radio de las esquinas */
    overflow: hidden;
}

.table th,
.table td {
    width: 10em;
    text-align: center;
}

.icono-salida-table {
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-salida-table {
    all: unset;

    width: 2em;
    height: 2em;

    border: 1px;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-salida-table:hover {
    background-color: rgb(35, 250, 81);
}

